# The location of the SDKs.
FLEX_HOME = ${env.FLEX_HOME}
JAVA_HOME = ${env.JAVA_HOME}
ANDROID_HOME = ${env.ANDROID_HOME}

# config files
air_mobile_config = ${FLEX_HOME}/frameworks/airmobile-config.xml

# path to compiler jars
compc = ${FLEX_HOME}/lib/compc-cli.jar
mxmlc = ${FLEX_HOME}/lib/mxmlc-cli.jar
adt = ${FLEX_HOME}/lib/adt.jar